body {
  background-color: lightgrey;
}

#welcome{
  font-size: 350px;
  text-align: center;
  padding: 1px;
  border: 10px solid #FFFFFF;
  margin-bottom: 10px;
}

#scroll{
  text-align: center;
  border: 1px solid #FFFFFF;
  margin-bottom: 250px;
}

.text{
  font-size: 30px;
}

#website{
  position:absolute;
  top: 120%;
  left: 20%;
}

#created{
  position: absolute;
  top: 230%;
  right: 10%;
}

.onlyman{
  background: powderblue;
}

#oneman{
  position: absolute;
  top: 330%;
  left: 50%;
}


#first{
  position: absolute;
  top: 150%;
  left: 30%;
  width: 70%;

}

#second{
  position: absolute;
  top: 180%;
  width: 50%

}

#third{
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  top: 310%;
}


#fourth{
  background: #FFFFFF;
  position: absolute;
  top: 460%;
}

#husband{
  position: absolute;
  top: 560%;
  left:40%;

}

#fifth{
  background: #FFFFFF;
  position: absolute;
  top: 600%;
  left:30%;
}

#father{
  background: #FFFFFF;
  position: absolute;
  top: 700%;
}


#theonly{
  position: absolute;
  left: 10%;
  top: 190%;
}
